@media only screen and (max-width: 1220px){
    .about-inner{
        width: 950px;   
    }
    .about-inner-more{
        width: 950px;
    }
    .contact{
        width: 950px;
    }
    .contact-container{
        width: 290px;
    }
}

@media only screen and (max-width: 955px){
    .intro-container h1{
        text-align: center;
    }
    #res-menu{
        display: block;
    }
    header{
        display: none;
        
    }
    header.active{
        width: 300px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0;
        display: flex;
        overflow-y: auto;
    }
    header ul li{
        float: unset;
    }
    header ul li a {
        font-size: 19px;
        line-height: 50px;
    }
    .submenu, .submenu2{
        visibility: hidden;
    }

    .about-inner{
        width: 550px;
        flex-direction: column;
        justify-content: center;
        min-height: 1000px;
        padding: 70px;
    }
    .about-inner-more{
        width: 550px;
    }
    .services-inner{
        width: 550px;
        grid-template-columns: auto auto;
    }
    .contact{
        width: 550px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-container{
        width: 245px;
    }
}

@media only screen and (max-width:810px){
    .footer-contact i{
        font-size: 20px;
    }
    footer p{
        font-size: 13px;
    }
    .footer-menu{
        left: 25px;
    }
    .footer-menu li a{
        font-size: 13px;
    }
}


@media (max-width: 602px) {
    .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;
      font-size: 13px;
      background-color: #ffffff38;
      color : white;
    }
  
    .slide.current .content {
      transform: translateY(-300px);
    }
}

@media only screen and (max-width:550px){
    .about-inner{
        width: 100%;
        padding: 0;
        padding-top: 150px;
    }
    .about-text-container{
        width: 100%;
        height: 900px;
    }
    .about-image{
        width:100%;
        background-size: cover;
        background-position: center;
        animation: none;
    }
    .about-inner-more{
        width: 100%;
        height: unset;
        top: 10px;
        padding: 5px;
    }
    .services-inner{
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 1200px;
    }
    .contact{
        width: 100%;
    }
    .contact-container{
        margin-top: 10px;
    }
    footer button{
        right: 15px;
    }
    .footer-menu{
        display: none;
    }
    .login-popup{
        width: 100%;
        height: 100%;
    }
    .login-popup form{
        top: 50%;
        transform: translateY(-50%);
    }
    .login-popup h1{
        top: 30%;
    }
    .login-popup i:nth-child(2){
        top: 10%;
    }
    .register-popup{
        width: 100%;
        height: 100%;
        /* overflow-y: auto; */
        border-radius: 0;
    }
    .register-popup form input{
        width: calc(100% - 100px);
        height: 40px;
    }
    .register-popup form div{
        width: calc(100% - 100px);
    }
    .register-popup form div input{
        width: 100%;
    }
    .password-strength{
        width: calc(100% - 100px);
    }
    .register-popup h1{
        font-size: 20px;
        margin-top: 20px;
        border-radius: 0;
    }
    #register-close{
        margin-top: 15px;
    }
}
